name: CI/CD Voting App

on:
  push:
    branches:
      - main

env:
  ACR_LOGIN_SERVER: radelitska.azurecr.io  # <- твій ACR login server

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Login to ACR
        uses: azure/docker-login@v1
        with:
          login-server: ${{ env.ACR_LOGIN_SERVER }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      # Build + push vote
      - name: Build and push vote
        run: |
          docker build -t $ACR_LOGIN_SERVER/vote:latest ./vote
          docker push $ACR_LOGIN_SERVER/vote:latest

      # Build + push result
      - name: Build and push result
        run: |
          docker build -t $ACR_LOGIN_SERVER/result:latest ./result
          docker push $ACR_LOGIN_SERVER/result:latest

      # Build + push worker
      - name: Build and push worker
        run: |
          docker build -t $ACR_LOGIN_SERVER/worker:latest ./worker
          docker push $ACR_LOGIN_SERVER/worker:latest
